.fp-hud-window {
  background: rgb(21%, 21%, 21%);
}
.fp-hud-window__header {
  background: #3273dc;
}
.fp-hud-window QLabel {
  font-size: 12px;
  color: white;
}

QStatusBar QLabel {
  font-size: 12px;
}
